<footer>
    <a class="footer-brand" href="/">
        <h2 class="h2-footer">
            Lu's Photography
        </h2>
    </a>

    <section class="footer-section">
        <a class="footer-social" href="#">Twitter</a>
        <a class="footer-social" href="#">Facebook</a>
        <a class="footer-social" href="#">Instagram</a>
        <a class="footer-social" href="#">Behance</a>
    </section>
</footer>