<<<<<<< HEAD
<nav class="navbar navbar-light">
    <div class="container-fluid nav-container">

        <input type="checkbox" id="check">
        <label for="check">
            <i class="fa-solid fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
        </label>

        <div class="sidebar">

            <ul class="sidebar-ul">
                <li>
                    <a href="/collections">
                        Collections
                    </a>
                </li>
                <li>
                    <a href="/gallery">
                        Gallery
                    </a>
                </li>
                <li>
                    <a href="/blogs">
                        Blog Posts
                    </a>
                </li>
                <li>
                    <a href="/services">
                        Services
                    </a>
                </li>
                <li>
                    <a href="/contact">
                        Contact
                    </a>
                </li>
                <li>
                    <a href="/about">
                        About
                    </a>
                </li>
            </ul>
        </div>
        
    </div>

    <a class="navbar-brand" href="/">
    <h1 id="head-h1">
            Lu's Photography
        </h1>
    </a>
    
</nav>
=======
<nav class="navbar navbar-light">
    <div class="container-fluid nav-container">

        <input type="checkbox" id="check">
        <label for="check">
            <i class="fa-solid fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
        </label>

        <div class="sidebar">

            <ul class="sidebar-ul">
                <li>
                    <a href="/collections">
                        Collections
                    </a>
                </li>
                <li>
                    <a href="/gallery">
                        Gallery
                    </a>
                </li>
                <li>
                    <a href="/blogs">
                        Blog Posts
                    </a>
                </li>
                <li>
                    <a href="/services">
                        Services
                    </a>
                </li>
                <li>
                    <a href="/contact">
                        Contact
                    </a>
                </li>
                <li>
                    <a href="/about">
                        About
                    </a>
                </li>
            </ul>
        </div>
        
    </div>

    <a class="navbar-brand" href="/">
    <h1 id="head-h1">
            Lu's Photography
        </h1>
    </a>
    
</nav>
>>>>>>> 0e8ef018b7eab00ee04bea284553f01a7e96b057
