<nav class="navbar navbar-light">
    <div class="container-fluid nav-container">

        <input type="checkbox" id="check">
        <label for="check">
            <i class="fa-solid fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
        </label>

        <div class="sidebar">
            <a class="sidebar-brand" href="/">
                <header>
                    Lu's Photography
                </header>
            </a>

            <ul>
                <li>
                    <a href="/collections">
                        Collections
                    </a>
                </li>
                <li>
                    <a href="/collections">
                        Gallery
                    </a>
                </li>
                <li>
                    <a href="/services">
                        Services
                    </a>
                </li>
                <li>
                    <a href="/blogs">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="/contact">
                        Contact
                    </a>
                </li>
                <li>
                    <a href="/about">
                        About Us
                    </a>
                </li>
            </ul>
        </div>
        
    </div>

    <a class="navbar-brand" href="/">
    <h2 id="head-h2">
            Lu's Photography
        </h2>
    </a>
    
</nav>