<% layout('layouts/boilerplate') %>

    <section id="home-head">

        <div class="header-intro">

            <div class="header-texts">
                <h1>Home</h1>
                <hr class="hr-5">
            </div>

            <div class="header-links">
                <a class="collection-head-links" href="/beach">Beach</a>
                <span class="header-space">•</span>
                <a class="collection-head-links" href="/clouds">Clouds</a>
                <span class="header-space">•</span>
                <a class="collection-head-links" href="/food">Food</a>
                <span class="header-space">•</span>
                <a class="collection-head-links" href="/nature">Nature</a>
                <span class="header-space">•</span>
                <a class="collection-head-links" href="/night">Night Time</a>
                <span class="header-space">•</span>
                <a class="collection-head-links" href="/street">Street</a>
                <span class="header-space">•</span>
                <a class="collection-head-links" href="/sunrise">Sunrises</a>
                <span class="header-space">•</span>
                <a class="collection-head-links" href="/sunset">Sunsets</a>
            </div>

        </div>

    </section>





    <div class="main-content">
        <h1 class="main-h1">MY COLLECTIONS</h1>

        <div class="main-cards">
            <a href="#" class="cards">
                <div class="main-left-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1473448912268-2022ce9509d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Zm9yZXN0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <div class="card-title" id="nature-title">Nature</div>

                        <p class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto
                            nemo, at est quo ea alias modi rem eveniet itaque, consequatur deleniti rerum provident
                            laborum dicta, repellat fuga similique accusantium quibusdam.</p>
                    </div>
                </div>
            </a>

            <a href="#" class="cards">
                <div class="main-right-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1498575637358-821023f27355?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fHN1bnNldHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <div class="card-title" id="sunsets-title">Sunsets</div>

                        <p class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto
                            nemo, at est quo ea alias modi rem eveniet itaque, consequatur deleniti rerum provident
                            laborum dicta, repellat fuga similique accusantium quibusdam.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="main-cards">
            <a href="#" class="cards">
                <div class="main-left-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1473496169904-658ba7c44d8a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8c3VubnklMjBiZWFjaHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <div class="card-title" id="beach-title">Beach</div>

                        <p class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto
                            nemo, at est quo ea alias modi rem eveniet itaque, consequatur deleniti rerum provident
                            laborum dicta, repellat fuga similique accusantium quibusdam.</p>
                    </div>
                </div>
            </a>

            <a href="#" class="cards">
                <div class="main-right-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHNreXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <div class="card-title" id="clouds-title">Clouds</div>

                        <p class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto
                            nemo, at est quo ea alias modi rem eveniet itaque, consequatur deleniti rerum provident
                            laborum dicta, repellat fuga similique accusantium quibusdam.</p>
                    </div>
                </div>
            </a>
        </div>

    </div>


    <div class="more-div">
        <button class="more-btn">
            <a href="/collections" class="more-link">
                Show More Collections
            </a>
        </button>
    </div>





    <hr class="hr-1">





    <div class="main-content">
        <h1 class="main-h1">Blog Posts</h1>

        <div class="main-cards">
            <a href="#" class="cards">
                <div class="blog-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1583138605411-f85466f61638?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fHBob3RvZ3JhcGhlcnN8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <div class="head-card-text">
                            <div class="card-date">15 May, 2022</div>
                            <div class="blog-category tutorial">Tutorial</div>
                        </div>

                        <p class="card-description">How to get the perfect mountain shots for your gallery.</p>
                    </div>
                </div>
            </a>

            <a href="#" class="cards">
                <div class="blog-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1572028412480-0a75271c6bb9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8am9iJTIwaW50ZXJ2aWV3fGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <div class="head-card-text">
                            <div class="card-date"> 23 May, 2022</div>
                            <div class="blog-category personal">Personal</div>
                        </div>

                        <p class="card-description">How I make time in my schedule to freelance as a photographer alongside a fulltime job.</p>
                    </div>
                </div>
            </a>

            <a href="#" class="cards">
                <div class="blog-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1589298360880-a0855eb871a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8YWlycG9ydHxlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <div class="head-card-text">
                            <div class="card-date">15 June, 2022</div>
                            <div class="blog-category travel">Travel</div>
                        </div>

                        <p class="card-description">Taking care of your equipment during a flight.</p>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <div class="more-div">
        <button class="more-btn">
            <a href="/blogs" class="more-link">
                Show More Posts
            </a>
        </button>
    </div>