/* Max-Width */
@media screen and (max-width: 1115px) {

  /* cards */
  .main-left-card {
    width: 40vw;
    margin-right: 0%;
    margin-bottom: 25%;
  }

  .main-right-card {
    width: 40vw;
    margin-left: 0%;
    margin-bottom: 25%;
  }

  .card-title {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 992px) {
  /* Navbar */

  /* sidebar */


  /* HOME */

  /* home head */
  .header-links {
    width: 80%;
  }

  /* main home page */
  .more-btn {
    width: 40%;
    border-radius: 2.5rem;
    font-size: 1.25rem;
  }

  .more-btn:hover {
    width: 50%;
  }

  /* cards */
  .main-left-card {
    width: 45vw;
    margin-right: 0%;
    margin-bottom: 25%;
  }

  .main-right-card {
    width: 45vw;
    margin-left: 0%;
    margin-bottom: 25%;
  }

  .card-title {
    font-size: 3rem;
  }

  .card-description {
    margin-bottom: 5%;
  }

  /* BLOGS */
  .blog-card {
    width: 30vw;
    margin-bottom: 25%;
  }

  /* FOOTER */
  footer {
    height: 25%;
  }

  .footer-social {
    margin-bottom: 2.5%;
    margin: auto;
  }

  .footer-section {
    width: 80%;
  }

  /* ABOUT */


  /* CONTACT */
  .contact-left-header {
    right: 50%;
  }

  /* SERVICES */
  .services-left {
    background-position: 0px 0px, 69% 50%;
  }
  .services-left-header {
    right: 50%;
  }
}

@media screen and (max-width: 767px) {

  /* GENERAL HTML */

  /* texts */
  .left-h1 {
    position: relative;
    right: 0%;
    margin-top: 0%;
    font-size: 2.5rem;
    text-align: center;
  }

  /* BODY STRUCTURE */

  /* double display pages */
  .main-double-display {
    overflow: hidden;
    height: auto;
    flex-wrap: wrap;
  }

  .left-header {
    position: relative;
    left: 30%;
    margin-top: 10%;
    text-align: center;
  }

  .left-header-line {
    display: none;
  }

  /* Navbar */
  .navbar-brand {
    font-size: x-large;
  }

    /* FOOTER */
    footer {
      height: 25%;
    }
  
    .footer-social {
      margin-bottom: 2.5%;
      margin: auto;
    }
  
    .footer-section {
      width: 80%;
    }

  /* HOME */

  /* home head */
  .header-texts h1 {
    font-size: 90%;
  }

  /* main home page */
  .more-btn {
    width: 40%;
    border-radius: 2.5rem;
    font-size: 1.25rem;
  }

  .more-btn:hover {
    width: 50%;
  }

  /* cards */
  .main-left-card {
    width: 66vw;
    margin-right: 0%;
    margin-bottom: 25%;
  }

  .main-right-card {
    width: 66vw;
    margin-left: 0%;
    margin-bottom: 25%;
  }

  .card-title {
    font-size: 3rem;
  }

  .card-description {
    margin-bottom: 5%;
  }

  /* BLOGS */
  .blog-card {
    width: 66vw;
    margin-bottom: 25%;
  }

  .blog-link-btn {
    width: 20%;
    font-size: 1.25rem;
  }

  /* ABOUT */
  .about-display {
    overflow: hidden;
    height: auto;
    flex-wrap: wrap;
  }

  .about-left {
    background-position: 0px 0px, 50% 34%;
    display: flex;
    align-items: center;
    width: 100%;
    height: 240px;
  }
  
  .about-left-header {
    position: relative;
    left: 40%;
    margin-top: 10%;
    text-align: center;
  }

  .about-background-text {
    display: none;
  }

  .right-container {
    overflow: visible;
    width: 100%;
    padding-top: 48px;
    padding-right: 0px;
    flex: 0 auto;
  }

  .about-content {
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 0%;
  }

  .about-pars {
    margin-bottom: 24px;
    font-size: small;
    line-height: 28px;
  }
  



  /* CONTACT */
  .contact-display {
    overflow: hidden;
    height: auto;
    flex-wrap: wrap;
  }

  .contact-left {
    display: flex;
    align-items: center;
    width: 100%;
    height: 240px;
  }

  .contact-left-header {
    position: relative;
    left: 35%;
    margin-top: 10%;
    text-align: center;
  }

  .contact-info {
    display: none;
  }
  .contact-background-text {
    display: none;
  }



  /* SERVICES */
  .services-display {
    overflow: hidden;
    height: auto;
    flex-wrap: wrap;
  }

  .services-left {
    background-position: 0px 0px, 50% 34%;
    display: flex;
    align-items: center;
    width: 100%;
    height: 240px;
  }

  .services-left-header {
    position: relative;
    left: 35%;
    margin-top: 10%;
    text-align: center;
  }

  .services-content {
    padding-top: 0%;
    padding-left: 10%;
    padding-right: 5%;
  }

  .services-background-text {
    display: none;
  }

  .services {
    padding-bottom: 32px;
    flex-basis: 90%;
  }

  .services-text {
    font-size: small;
  }
}

@media screen and (max-width: 676px) {

  /* Navbar */
  .navbar-brand {
    font-size: x-large;
  }

    /* FOOTER */
    footer {
      height: 25%;
    }
  
    .footer-social {
      margin-bottom: 2.5%;
      margin: auto;
    }
  
    .footer-section {
      width: 80%;
    }

  /* HOME */

  /* home head */
  .header-texts h1 {
    font-size: 90%;
  }

  .collection-head-links:nth-of-type(even) {
    display: none;
  }

  .header-space:nth-of-type(even) {
    display: none;
  }

  .header-space:nth-of-type(7) {
    display: none;
  }

  /* main home page */
  .more-btn {
    width: 40%;
    border-radius: 2.5rem;
    font-size: 1.25rem;
  }

  .more-btn:hover {
    width: 50%;
  }

  /* cards */
  .main-left-card {
    width: 75vw;
    margin-right: 0%;
    margin-bottom: 25%;
  }

  .main-right-card {
    width: 75vw;
    margin-left: 0%;
    margin-bottom: 25%;
  }

  .card-title {
    font-size: 3rem;
  }

  .card-description {
    margin-bottom: 5%;
  }

  /* BLOGS */
  .blog-card {
    width: 80vw;
    margin-bottom: 25%;
  }

  .blog-link-btn {
    width: 20%;
    font-size: 1.25rem;
  }


    /* CONTACT */
    .contact-left-header {
      position: relative;
      left: 33%;
      margin-top: 10%;
      text-align: center;
    }

    .contact-content {
      padding-top: 0%;
      padding-left: 10%;
      padding-right: 5%;
    }
}

@media screen and (max-width: 576px) {
  
  /* Navbar */
  .navbar-brand {
    font-size: large;
  }

  /* FOOTER */
  footer {
    height: 25%;
  }

  .footer-social {
    margin-bottom: 2.5%;
    margin: auto;
  }

  .footer-section {
    width: 100%;
  }
  
  /* HOME */

  /* home head */
  .header-texts h1 {
    font-size: 70%;
  }

  .header-links {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 2.5%;
  }

  .collection-head-links:nth-of-type(even) {
    display: none;
  }

  .header-space:nth-of-type(even) {
    display: none;
  }

  .header-space:nth-of-type(7) {
    display: none;
  }

  /* main home page */
  .more-btn {
    width: 50%;
    border-radius: 2.5rem;
    font-size: 1rem;
  }

  .more-btn:hover {
    width: 65%;
  }

  /* cards */
  .main-left-card {
    width: 75vw;
    margin-right: 0%;
    margin-bottom: 25%;
  }

  .main-right-card {
    width: 75vw;
    margin-left: 0%;
    margin-bottom: 25%;
  }

  .card-title {
    font-size: 2rem;
  }

  .card-description {
    margin-bottom: 5%;
  }

  /* BLOGS */
  .blog-card {
    width: 80vw;
    margin-bottom: 25%;
  }

  .blog-link-btn {
    width: 20%;
    font-size: 1.25rem;
  }

  /* CONTACT */
  .contact-left-header {
    position: relative;
    left: 33%;
    margin-top: 10%;
    text-align: center;
  }

  .contact-form {
    width: 100%;
  }

}

@media screen and (max-width: 479px) {
  /* GENERAL HTML */

  /* texts */
  .left-h1 {
    font-size: 27px;
    letter-spacing: 5px;
  }

  /* ABOUT */
  .about-socials {
    flex-wrap: nowrap;
  }

  /* SERVICES */
  .services-left-header {
    position: relative;
    left: 33%;
    margin-top: 10%;
    text-align: center;
  }
  .services-icon {
    position: relative;
    width: 56px;
    height: 56px;
    padding: 16px;
  }
  .services-h2 {
    line-height: 20px;
    font-size: 16px;
}
}

@media screen and (max-width: 414px) {

  /* Navbar */
  .navbar-brand {
    font-size: medium;
  }

  /* HOME */

  /* home head */
  .header-texts h1 {
    font-size: 70%;
  }

  .header-links {
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 2.5%;
    /* margin: auto; */
  }

  .collection-head-links:nth-of-type(even) {
    display: none;
  }

  .header-space:nth-of-type(even) {
    display: none;
  }

  .header-space:nth-of-type(7) {
    display: none;
  }

  /* main home page */
  .more-btn {
    width: 50%;
    border-radius: 2.5rem;
    font-size: 1rem;
  }

  .more-btn:hover {
    width: 65%;
  }

  /* cards */
  .main-left-card {
    width: 75vw;
    margin-right: 0%;
    margin-bottom: 25%;
  }

  .main-right-card {
    width: 75vw;
    margin-left: 0%;
    margin-bottom: 25%;
  }

  .card-title {
    font-size: 2rem;
  }

  .card-description {
    margin-bottom: 5%;
  }

  /* BLOGS */
  .blog-card {
    width: 80vw;
    margin-bottom: 25%;
  }

  .blog-link-btn {
    width: 20%;
    font-size: 1rem;
  }

  /* FOOTER */
  footer {
    height: 25%;
  }

  .footer-social {
    margin-bottom: 2.5%;
  }

  .footer-section {
    width: 33%;
  }

  /* SERVICES */
  .services-left-header {
    position: relative;
    left: 27.5%;
    margin-top: 10%;
    text-align: center;
  }
}

@media screen and (max-width: 360px) {

  /* Navbar */
  .navbar-brand {
    font-size: medium;
  }

  /* HOME */

  /* home head */
  .header-texts h1 {
    font-size: 70%;
  }

  .header-links {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 2.5%;
  }

  /* main home page */
  .more-btn {
    width: 50%;
    border-radius: 2.5rem;
    font-size: 1rem;
  }

  .more-btn:hover {
    width: 65%;
  }

  /* cards */
  .main-left-card {
    width: 75vw;
    margin-right: 0%;
    margin-bottom: 25%;
  }

  .main-right-card {
    width: 75vw;
    margin-left: 0%;
    margin-bottom: 25%;
  }

  .card-title {
    font-size: 2rem;
  }

  .card-description {
    margin-bottom: 5%;
  }

  /* BLOGS */
  .blog-card {
    width: 80vw;
    margin-bottom: 25%;
  }

  .blog-link-btn {
    width: 20%;
    font-size: 1rem;
  }

  /* FOOTER */
  footer {
    height: 25%;
  }

  .footer-social {
    margin-bottom: 2.5%;
  }

  .footer-section {
    width: 33%;
  }
}
