<% layout('layouts/boilerplate') %>

    <section id="clouds-head">

        <div class="header-intro">

            <div class="header-texts">
                <h1>Clouds</h1>
                <hr class="hr-5">
            </div>

        </div>

    </section>

    <div class="main-content">

        <div class="gallery-container">
            <div class="gallery-imgs-container">
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1560803262-95a9de00a057?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y2xvdWRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1463947628408-f8581a2f4aca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Y2xvdWRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1536244636800-a3f74db0f3cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGNsb3Vkc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1504608524841-42fe6f032b4b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGNsb3Vkc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
            </div>

            <div class="gallery-imgs-container">
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1518100304219-5df3ad98dd9b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2xvdWRzfGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1541424548036-7e628b710c59?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2xvdWRzfGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1518844826-a4f6afc7a7a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2xvdWRzJTIwZnJvbSUyMGFpcnBsYW5lfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1526733388716-17040d3ab772?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGNsb3VkcyUyMGZyb20lMjBhaXJwbGFuZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
            </div>
        </div>

    </div>
