<% layout('layouts/boilerplate') %>

    <section id="clouds-head">

        <div class="header-intro">

            <div class="header-texts">
                <h1>Clouds</h1>
                <hr class="hr-5">
            </div>

        </div>

    </section>


    <div class="gallery-wrap">
        <div class="container gallery">

            <div class="flex row structure">

                <!-- This is the first row of images -->
                <div class="flex row structure-1">
                    <div class="flex element one">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1513002749550-c59d786b8e6c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2xvdWRzfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <div class="flex element two">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1504608524841-42fe6f032b4b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y2xvdWRzfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                </div>

                <!-- This is a column of images next to the row of images -->
                <div class="flex col structure-1-2-1">
                    <div class="flex element three">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1514843295067-dc777a28a510?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8YWlycGxhbmUlMjBjbG91ZHN8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element four">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506477331477-33d5d8b3dc85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->

                    <!-- <div class="flex element five">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>

                <!-- This the 2nd row of images (you will find this below the first row at full screen width) -->
                <div class="flex row structure-2">
                    <div class="flex element six">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1541346406486-7a642e80c0a5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YWlycGxhbmUlMjBjbG91ZHN8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>
                </div>

                <!-- This the 2nd column of images (you will find this below the first column at full screen width) -->
                <div class="flex col structure-2-2">
                    <div class="flex element seven">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1541424548036-7e628b710c59?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8YWlycGxhbmUlMjBjbG91ZHN8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element eight">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>
                
            </div>
            
        </div>
    </div>
