<% layout('layouts/boilerplate') %>

    <header id="clouds-head" class="main-header">

        <div class="header-intro">

            <div class="header-texts">
                <h1>Clouds</h1>
                <hr class="hr-5">
            </div>

        </div>

    </header>

    <main class="container">
        <!-- cloud start -->
        <div class="collection1">
            <img class="top-left" src="https://images.unsplash.com/photo-1536244636800-a3f74db0f3cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGNsb3Vkc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
            <img class="top-right" src="https://images.unsplash.com/photo-1529528744093-6f8abeee511d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGNsb3Vkc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
            <img class="across" src="https://images.unsplash.com/photo-1504608524841-42fe6f032b4b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGNsb3Vkc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
        </div>

        <div class="collection2">
            <img class="across" src="https://images.unsplash.com/photo-1560837616-fee1f3d8753a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGNsb3Vkc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
            <img class="bottom-left" src="https://images.unsplash.com/photo-1463947628408-f8581a2f4aca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Y2xvdWRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
            <img class="bottom-right" src="https://images.unsplash.com/photo-1529511582893-2d7e684dd128?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8dWtyYWluZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
        </div>

        <div class="collection3">
            <img src="https://media.istockphoto.com/photos/thunder-and-lightning-picture-id1428942104?b=1&k=20&m=1428942104&s=170667a&w=0&h=LhOQT5mAZPcJ5Pw6tdNFwWtkcPZXXnQa-azeb7oj9_Q=" alt="">
            <img src="https://images.unsplash.com/photo-1601370552761-d129028bd833?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fGNsb3Vkc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
            <img src="https://images.unsplash.com/photo-1495756111155-45cb19b8aeee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzN8fGNsb3Vkc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
        </div>
        <!-- cloud end -->
    </main>