<% layout('layouts/boilerplate') %>

    <section id="food-head">

        <div class="header-intro">

            <div class="header-texts">
                <h1>Food</h1>
                <hr class="hr-5">
            </div>

        </div>

    </section>

    <!-- food start -->
    <div class="gallery-wrap">
        <div class="container gallery">

            <div class="flex row structure">

                <!-- This is the first row of images -->
                <div class="flex row structure-1">
                    <div class="flex element one">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1615719413546-198b25453f85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Zm9vZCUyMGJhY2tncm91bmR8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <div class="flex element two">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1614145121029-83a9f7b68bf4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9vZCUyMGJhY2tncm91bmR8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                </div>

                <!-- This is a column of images next to the row of images -->
                <div class="flex col structure-1-2-1">
                    <div class="flex element three">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1611309454921-16cef3438ee0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Zm9vZCUyMGJhY2tncm91bmR8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element four">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506477331477-33d5d8b3dc85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->

                    <!-- <div class="flex element five">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>

                <!-- This the 2nd row of images (you will find this below the first row at full screen width) -->
                <div class="flex row structure-2">
                    <div class="flex element six">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1543353071-10c8ba85a904?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Zm9vZCUyMGJhY2tncm91bmR8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>
                </div>

                <!-- This the 2nd column of images (you will find this below the first column at full screen width) -->
                <div class="flex col structure-2-2">
                    <div class="flex element seven">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1616431575978-ad28681d658e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Zm9vZCUyMGJhY2tncm91bmR8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element eight">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>
                
            </div>
            
        </div>
    </div>
    <!-- food end -->
