<% layout('layouts/boilerplate') %>

    <section id="food-head">

        <div class="header-intro">

            <div class="header-texts">
                <h1>Food</h1>
                <hr class="hr-5">
            </div>

        </div>

    </section>

    <div class="main-content">
        <div class="gallery-container">
            <div class="gallery-imgs-container">
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1631897788978-da06ec45adcb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGNoaWNrZW4lMjB3aW5nc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Zm9vZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGZvb2R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1540189549336-e6e99c3679fe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Zm9vZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
            </div>

            <div class="gallery-imgs-container">
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1518013431117-eb1465fa5752?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGZyaWVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1581927692308-be9e43b4d860?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8c29kYXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1625813506062-0aeb1d7a094b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YnVyZ2VyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1542574271-7f3b92e6c821?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGJ1cmdlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
            </div>
        </div>
    </div>
