<% layout('layouts/boilerplate') %>

    <section id="food-head">

        <div class="header-intro">

            <div class="header-texts">
                <h1>Food</h1>
                <hr class="hr-5">
            </div>

        </div>

    </section>

    <!-- food start -->

    <!-- food end -->