<% layout('layouts/boilerplate') %>

    <section id="nature-head">

        <div class="header-intro">

            <div class="header-texts">
                <h1>Nature</h1>
                <hr class="hr-5">
            </div>

        </div>

    </section>


