<% layout('layouts/boilerplate') %>

    <header id="night-head">

        <div class="header-intro">

            <div class="header-texts">
                <h1>Night Time</h1>
                <hr class="hr-5">
            </div>

        </div>

    </header>

    <main class="container">
        <!-- night start -->
        <div class="collection1">
            <img class="top-left"
                src="https://images.unsplash.com/photo-1508402476522-c77c2fa4479d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bmlnaHQlMjB0aW1lfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                alt="">
            <img class="top-right"
                src="https://images.unsplash.com/photo-1617375996248-0e57941f3f3c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bmlnaHQlMjB0aW1lfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                alt="">
            <img class="across"
                src="https://images.unsplash.com/photo-1504466334719-af4ae9f12ad0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bmlnaHQlMjB0aW1lfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                alt="">
        </div>

        <div class="collection2">
            <img class="across"
                src="https://images.unsplash.com/photo-1508258857452-2624d11f0797?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTE2fHxuaWdodCUyMHRpbWV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                alt="">
            <img class="bottom-left"
                src="https://media.istockphoto.com/photos/drone-shot-of-ben-franklin-bridge-and-philadelphia-pa-at-sunset-picture-id1363348036?b=1&k=20&m=1363348036&s=170667a&w=0&h=IB-SGre8fjQYzpIshzf6CEcgzYyBrBYd-cHtSJ7-x4E="
                alt="">
            <img class="bottom-right"
                src="https://images.unsplash.com/photo-1533106497176-45ae19e68ba2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fG5pZ2h0JTIwdGltZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                alt="">
        </div>

        <div class="collection3">
            <img src="https://images.unsplash.com/photo-1506268452458-bfb3757ed859?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTF8fG5pZ2h0JTIwdGltZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                alt="">
            <img src="https://images.unsplash.com/photo-1533923193931-dd825a9e850a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA0fHxuaWdodCUyMHRpbWV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                alt="">
            <img src="https://images.unsplash.com/photo-1534818678126-01994e632967?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTAxfHxuaWdodCUyMHRpbWV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                alt="">
        </div>
        <!-- night end -->
    </main>