<% layout('layouts/boilerplate') %>

    <section id="street-head">

        <div class="header-intro">

            <div class="header-texts">
                <h1>Street</h1>
                <hr class="hr-5">
            </div>

        </div>

    </section>

    <div class="main-content">

        <div class="gallery-container">
            <div class="gallery-imgs-container">
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1502514276381-1ea51dfe201c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fG5pZ2h0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1531145997887-d13b61b64104?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bWFycmFrZXNoJTIwc3RyZWV0c3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1616953283578-4d001aaae44d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8amFwYW4lMjBzdHJlZXRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1495430288918-03be19c7c485?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bmlnaHR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
            </div>

            <div class="gallery-imgs-container">
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1589755617381-e8fe66db4b0e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2FwZSUyMHRvd24lMjBzdHJlZXRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1534800891164-a1d96b5114e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bG9uZG9uJTIwc3RyZWV0c3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1529635583856-b6fb2499bf92?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzZ8fG5pZ2h0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1513201025652-45a8a3f21311?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDV8fG5pZ2h0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
            </div>
        </div>

    </div>
