<% layout('layouts/boilerplate') %>

    <header id="sunrise-head">

        <div class="header-intro">

            <div class="header-texts">
                <h1>Sunrises</h1>
                <hr class="hr-5">
            </div>

        </div>

    </header>

    <main class="container">
        <!-- sunrirse start -->
        <div class="collection1">
            <img class="top-left"
                src="https://images.unsplash.com/photo-1510784722466-f2aa9c52fff6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3VucmlzZXxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60"
                alt="">
            <img class="top-right"
                src="https://images.unsplash.com/photo-1500382017468-9049fed747ef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c3VucmlzZXxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60"
                alt="">
            <img class="across"
                src="https://images.unsplash.com/photo-1514241516423-6c0a5e031aa2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c3VucmlzZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                alt="">
        </div>

        <div class="collection2">
            <img class="across"
                src="https://images.unsplash.com/photo-1475113548554-5a36f1f523d6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8c3VucmlzZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                alt="">
            <img class="bottom-left"
                src="https://images.unsplash.com/photo-1470252649378-9c29740c9fa8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c3VucmlzZXxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60"
                alt="">
            <img class="bottom-right"
                src="https://images.unsplash.com/photo-1484766280341-87861644c80d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8c3VucmlzZXxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60"
                alt="">
        </div>

        <div class="collection3">
            <img src="https://images.unsplash.com/photo-1552685807-525433b008dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHN1bnJpc2V8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                alt="">
            <img src="https://images.unsplash.com/photo-1533371452382-d45a9da51ad9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fHN1bnJpc2V8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                alt="">
            <img src="https://images.unsplash.com/photo-1470569584027-67bf7fa60807?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHN1bnJpc2V8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                alt="">
        </div>
        <!-- sunrise end -->
    </main>