<% layout('layouts/boilerplate') %>

    <section id="sunrise-head">

        <div class="header-intro">

            <div class="header-texts">
                <h1>Sunrises</h1>
                <hr class="hr-5">
            </div>

        </div>

    </section>


    <div class="gallery-wrap">
        <div class="container gallery">

            <div class="flex row structure">

                <!-- This is the first row of images -->
                <div class="flex row structure-1">
                    <div class="flex element one">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1574726252024-83b799196f99?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3VucmlzZSUyMGJhY2tncm91bmR8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <div class="flex element two">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1531603845872-e4a07041f521?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c3VucmlzZSUyMGJhY2tncm91bmR8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                </div>

                <!-- This is a column of images next to the row of images -->
                <div class="flex col structure-1-2-1">
                    <div class="flex element three">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1448842215777-02928daa9d5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fHN1bnJpc2UlMjBiYWNrZ3JvdW5kfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element four">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506477331477-33d5d8b3dc85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->

                    <!-- <div class="flex element five">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>

                <!-- This the 2nd row of images (you will find this below the first row at full screen width) -->
                <div class="flex row structure-2">
                    <div class="flex element six">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1503803548695-c2a7b4a5b875?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3VucmlzZSUyMGJhY2tncm91bmR8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>
                </div>

                <!-- This the 2nd column of images (you will find this below the first column at full screen width) -->
                <div class="flex col structure-2-2">
                    <div class="flex element seven">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1494548162494-384bba4ab999?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3VucmlzZSUyMGJhY2tncm91bmR8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element eight">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>
                
            </div>
            
        </div>
    </div>
