<% layout('layouts/boilerplate') %>

    <section id="sunrise-head">

        <div class="header-intro">

            <div class="header-texts">
                <h1>Sunrises</h1>
                <hr class="hr-5">
            </div>

        </div>

    </section>

    <div class="main-content">

        <div class="gallery-container">
            <div class="gallery-imgs-container">
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1510784722466-f2aa9c52fff6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3VucmlzZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1470252649378-9c29740c9fa8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c3VucmlzZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1500534623283-312aade485b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHN1bnJpc2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1531603845872-e4a07041f521?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHN1bnJpc2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
            </div>

            <div class="gallery-imgs-container">
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1541978675-b88a2953aef3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHN1bnJpc2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1470569584027-67bf7fa60807?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fHN1bnJpc2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1496631488200-c0b85f3044a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fHN1bnJpc2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1516571168827-259105cb8327?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fHN1bnJpc2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
            </div>
        </div>

    </div>
