<% layout('layouts/boilerplate') %>

    <header id="sunset-head" class="main-header">

        <div class="header-intro">

            <div class="header-texts">
                <h1>Sunsets</h1>
                <hr class="hr-5">
            </div>

        </div>

    </header>


    <main class="container">
        <!-- sunset start -->
        <div class="collection1">
            <img class="top-left" src="https://images.unsplash.com/photo-1530675392811-1966d9218af1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzN8fHN1bnNldHxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
            <img class="top-right" src="https://images.unsplash.com/photo-1545294027-390927441147?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fHN1bnNldHxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
            <img class="across" src="https://images.unsplash.com/photo-1585089858717-f4378c2031d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHN1bnNldHxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
        </div>

        <div class="collection2">
            <img class="across" src="https://images.unsplash.com/photo-1586348943529-beaae6c28db9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c3Vuc2V0fGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
            <img class="bottom-left" src="https://images.unsplash.com/photo-1458869612855-bb6009d50368?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fHN1bnNldHxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
            <img class="bottom-right" src="https://images.unsplash.com/photo-1532274402911-5a369e4c4bb5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fHN1bnNldHxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
        </div>

        <div class="collection3">
            <img src="https://images.unsplash.com/photo-1506102383123-c8ef1e872756?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c3Vuc2V0fGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
            <img src="https://images.unsplash.com/photo-1542159919831-40fb0656b45a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8c3Vuc2V0fGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
            <img src="https://images.unsplash.com/photo-1495616811223-4d98c6e9c869?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c3Vuc2V0fGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
        </div>
        <!-- sunset end -->
    </main>