<<<<<<< HEAD
<% layout('layouts/boilerplate') %>

    <section id="sunset-head">

        <div class="header-intro">

            <div class="header-texts">
                <h1>Sunsets</h1>
                <hr class="hr-5">
            </div>

        </div>

    </section>


    <div class="gallery-wrap">
        <div class="container gallery">

            <div class="flex row structure">

                <!-- This is the first row of images -->
                <div class="flex row structure-1">
                    <div class="flex element one">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1614914135224-925593607248?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bmF0dXJlJTIwYmFja2dyb3VuZHxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <div class="flex element two">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1552953140-c6dbcbdc281e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHN1bnNldCUyMGJhY2tncm91bmR8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                </div>

                <!-- This is a column of images next to the row of images -->
                <div class="flex col structure-1-2-1">
                    <div class="flex element three">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1563118849-3cdd781c80ee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bWFuaGF0dGFuaGVuZ2V8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element four">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506477331477-33d5d8b3dc85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->

                    <!-- <div class="flex element five">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>

                <!-- This the 2nd row of images (you will find this below the first row at full screen width) -->
                <div class="flex row structure-2">
                    <div class="flex element six">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1593531944206-2195b2e49bd3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3Vuc2V0JTIwYmFja2dyb3VuZHxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>
                </div>

                <!-- This the 2nd column of images (you will find this below the first column at full screen width) -->
                <div class="flex col structure-2-2">
                    <div class="flex element seven">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1548344320-0c6fe631f8cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8c3Vuc2V0JTIwYmFja2dyb3VuZHxlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element eight">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>
                
            </div>
            
        </div>
    </div>
=======
<% layout('layouts/boilerplate') %>

    <section id="sunset-head">

        <div class="header-intro">

            <div class="header-texts">
                <h1>Sunsets</h1>
                <hr class="hr-5">
            </div>

        </div>

    </section>


    <div class="gallery-wrap">
        <div class="container gallery">

            <div class="flex row structure">

                <!-- This is the first row of images -->
                <div class="flex row structure-1">
                    <div class="flex element one">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1614914135224-925593607248?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bmF0dXJlJTIwYmFja2dyb3VuZHxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <div class="flex element two">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1552953140-c6dbcbdc281e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHN1bnNldCUyMGJhY2tncm91bmR8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                </div>

                <!-- This is a column of images next to the row of images -->
                <div class="flex col structure-1-2-1">
                    <div class="flex element three">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1563118849-3cdd781c80ee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bWFuaGF0dGFuaGVuZ2V8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element four">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506477331477-33d5d8b3dc85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->

                    <!-- <div class="flex element five">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>

                <!-- This the 2nd row of images (you will find this below the first row at full screen width) -->
                <div class="flex row structure-2">
                    <div class="flex element six">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1593531944206-2195b2e49bd3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3Vuc2V0JTIwYmFja2dyb3VuZHxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>
                </div>

                <!-- This the 2nd column of images (you will find this below the first column at full screen width) -->
                <div class="flex col structure-2-2">
                    <div class="flex element seven">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1548344320-0c6fe631f8cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8c3Vuc2V0JTIwYmFja2dyb3VuZHxlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element eight">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>
                
            </div>
            
        </div>
    </div>
>>>>>>> 0e8ef018b7eab00ee04bea284553f01a7e96b057
