<% layout('layouts/boilerplate') %>

    <section id="sunset-head">

        <div class="header-intro">

            <div class="header-texts">
                <h1>Sunsets</h1>
                <hr class="hr-5">
            </div>

        </div>

    </section>


