<% layout('layouts/boilerplate') %>

    <section id="personal-head">

        <div class="header-intro">

            <div class="header-texts">
                <h1>Personal</h1>
                <hr class="hr-5">
            </div>

        </div>

    </section>

    <div class="main-content">
        <div class="main-content">
            <div class="blog-links-container">
                <button class="blog-link-btn">
                    <a class="blog-links" href="/blogs">All</a>
                </button>
    
                <button class="blog-link-btn">
                    <a class="blog-links" href="/blogs/travel">Travel</a>
                </button>
    
                <button class="blog-link-btn">
                    <a class="blog-links" href="/blogs/tutorial">Tutorial</a>
                </button>
            </div>

        <div class="main-cards in-blog">
            <a href="#" class="cards">
                <div class="blog-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1572028412480-0a75271c6bb9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8am9iJTIwaW50ZXJ2aWV3fGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <div class="head-card-text">
                            <div class="card-date"> 23 May, 2022</div>
                            <div class="blog-category personal">Personal</div>
                        </div>

                        <p class="card-description">How I make time in my schedule to freelance as a photographer
                            alongside a fulltime job.</p>
                    </div>
                </div>
            </a>

            <a href="#" class="cards">
                <div class="blog-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1597489420377-e23d4a080346?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Z2FsbGVyeXxlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <div class="head-card-text">
                            <div class="card-date"> 23 May, 2022</div>
                            <div class="blog-category personal">Personal</div>
                        </div>

                        <p class="card-description">Best places to meet new people as a photographer.</p>
                    </div>
                </div>
            </a>

            <a href="#" class="cards">
                <div class="blog-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1509395731449-4f6efe781cf0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8cGVvcGxlJTIwbWVldGluZ3xlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <div class="head-card-text">
                            <div class="card-date"> 23 May, 2022</div>
                            <div class="blog-category personal">Personal</div>
                        </div>

                        <p class="card-description">How to maximize your income as a freelance photographer.</p>
                    </div>
                </div>
            </a>
        </div>

    </div>