<% layout('layouts/boilerplate') %>

    <header id="travel-head"class="main-header">

        <div class="header-intro">

            <div class="header-texts">
                <h1>Travel</h1>
                <hr class="hr-5">
            </div>

        </div>

    </header>

    <main class="main-content">

        <div class="blog-links-container">

            <a class="blog-link-btn" href="/blogs">All</a>

            <a class="blog-link-btn" href="/personal">Personal</a>

            <a class="blog-link-btn" href="/tutorial">Tutorial</a>
    </div>

        <div class="main-cards in-blog">
            <a href="#" class="cards">
                <div class="blog-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1589298360880-a0855eb871a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8YWlycG9ydHxlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <div>
                            <h4>15 June, 2022</h4>
                            <h3 class="blog-category travel">Travel</h3>
                        </div>

                        <p class="card-description">Taking care of your equipment during a flight.</p>
                    </div>
                </div>
            </a>

            <a href="#" class="cards">
                <div class="blog-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1566812192804-b33b53ccb207?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YWlycGxhbmUlMjBjbG91ZHN8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <div>
                            <h4>15 June, 2022</h4>
                            <h3 class="blog-category travel">Travel</h3>
                        </div>

                        <p class="card-description">Best seats to get photos on an airplane.</p>
                    </div>
                </div>
            </a>

            <a href="#" class="cards">
                <div class="blog-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1601226890749-5a59afd60b0b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Ym9zcGhvcnVzJTIwaXN0YW5idWx8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <div>
                            <h4>15 June, 2022</h4>
                            <h3 class="blog-category travel">Travel</h3>
                        </div>

                        <p class="card-description">Most underrated cities for street photography.</p>
                    </div>
                </div>
            </a>
        </div>

    </main>