<% layout('layouts/boilerplate') %>

    <section id="travel-head">

        <div class="header-intro">

            <div class="header-texts">
                <h1>Travel</h1>
                <hr class="hr-5">
            </div>

        </div>

    </section>

    <div class="main-content">
        <div class="blog-links-container">
            <button class="blog-link-btn">
                <a class="blog-links" href="/blogs">All</a>
            </button>

            <button class="blog-link-btn">
                <a class="blog-links" href="/blogs/personal">Personal</a>
            </button>

            <button class="blog-link-btn">
                <a class="blog-links" href="/blogs/tutorial">Tutorial</a>
            </button>
        </div>

        <div class="main-cards in-blog">
            <a href="#" class="cards">
                <div class="blog-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1589298360880-a0855eb871a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8YWlycG9ydHxlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <div class="head-card-text">
                            <div class="card-date">15 June, 2022</div>
                            <div class="blog-category travel">Travel</div>
                        </div>

                        <p class="card-description">Taking care of your equipment during a flight.</p>
                    </div>
                </div>
            </a>

            <a href="#" class="cards">
                <div class="blog-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1566812192804-b33b53ccb207?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YWlycGxhbmUlMjBjbG91ZHN8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <div class="head-card-text">
                            <div class="card-date">15 June, 2022</div>
                            <div class="blog-category travel">Travel</div>
                        </div>

                        <p class="card-description">Best seats to get photos on an airplane.</p>
                    </div>
                </div>
            </a>

            <a href="#" class="cards">
                <div class="blog-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1601226890749-5a59afd60b0b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Ym9zcGhvcnVzJTIwaXN0YW5idWx8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <div class="head-card-text">
                            <div class="card-date">15 June, 2022</div>
                            <div class="blog-category travel">Travel</div>
                        </div>

                        <p class="card-description">Most underrated cities for street photography.</p>
                    </div>
                </div>
            </a>
        </div>

    </div>