<% layout('layouts/boilerplate') %>

    <section id="tutorial-head">

        <div class="header-intro">

            <div class="header-texts">
                <h1>Tutorial</h1>
                <hr class="hr-5">
            </div>

        </div>

    </section>

    <main class="main-content">

        <div class="blog-links-container">

            <a class="blog-link-btn" href="/blogs">All</a>

            <a class="blog-link-btn" href="/personal">Personal</a>

            <a class="blog-link-btn" href="/travel">Travel</a>
    </div>

        <div class="main-cards in-blog">
            <a href="#" class="cards">
                <div class="blog-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1583138605411-f85466f61638?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fHBob3RvZ3JhcGhlcnN8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <div class="head-card-text">
                            <div class="card-date">15 May, 2022</div>
                            <div class="blog-category tutorial">Tutorial</div>
                        </div>
                        <p class="card-description">How to get the perfect mountain shots for your gallery.</p>
                    </div>
                </div>
            </a>

            <a href="#" class="cards">
                <div class="blog-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1491947153227-33d59da6c448?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8a2V5Ym9hcmR8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <div class="head-card-text">
                            <div class="card-date">15 May, 2022</div>
                            <div class="blog-category tutorial">Tutorial</div>
                        </div>

                        <p class="card-description">How to edit photos using the latest Mac OS.</p>
                    </div>
                </div>
            </a>

            <a href="#" class="cards">
                <div class="blog-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1613142289371-766e4f568cff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2FtZXJhJTIwbGVuc3xlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <div class="head-card-text">
                            <div class="card-date">15 May, 2022</div>
                            <div class="blog-category tutorial">Tutorial</div>
                        </div>

                        <p class="card-description">How to pick a lens for your photography needs.</p>
                    </div>
                </div>
            </a>
        </div>

    </main>