<% layout('layouts/doublepages') %>

    <div class="main-double-display about-display">

        <div class="about-left">
            <div class="left-header about-left-header">
                <h1 class="left-h1">About</h1>
                <div class="left-header-line"></div>
            </div>
        </div>





        <div class="right-container">
            <div class="right-content about-content">
                <div class="right-pars">
                    <h2 class="right-headers" id="first-about-h2">My Story</h2>
                    <p class="about-pars">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius vitae ratione
                        magni repellat.
                        Accusamus
                        quis consequatur doloremque. Error, incidunt. Enim dolore neque fugit sequi vitae repellendus,
                        delectus optio eligendi quod.</p>
                </div>

                <div class="right-pars">
                    <h2 class="right-headers" id="second-about-h2">My Love for Photography</h2>
                    <p class="about-pars">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius vitae ratione
                        magni repellat.
                        Accusamus
                        quis consequatur doloremque. Error, incidunt. Enim dolore neque fugit sequi vitae repellendus,
                        delectus optio eligendi quod.</p>
                </div>

                <div class="right-pars">
                    <h2 class="right-headers" id="third-about-h2">My Gear</h2>
                    <ul class="about-pars">
                        <li class="about-li">This is my first gear item</li>
                        <li class="about-li">This is my second gear item</li>
                        <li class="about-li">This is my third gear item</li>
                        <li class="about-li">This is my fourth gear item</li>
                        <li class="about-li">This is my fifth gear item</li>
                    </ul>
                </div>

                <p class="about-pars">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus ducimus eveniet quidem nam,
                    minus nostrum exercitationem laudantium repellendus ipsum, expedita ipsam dolore voluptatum quasi
                    sequi soluta, ab accusamus odit officiis.
                </p>

                <div class="about-socials">
                    <a href="#" class="about-social-links">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="#" class="about-social-links">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="#" class="about-social-links">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="#" class="about-social-links">
                        <i class="fa-brands fa-behance"></i>
                    </a>
                </div>

                <p class="about-pars">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus ducimus eveniet quidem nam,
                    minus nostrum exercitationem laudantium repellendus ipsum, expedita ipsam dolore voluptatum quasi
                    sequi soluta, ab accusamus odit officiis.
                </p>

            </div>
            <div class="about-background-text">
                About
            </div>
        </div>


    </div>
