<% layout('layouts/boilerplate') %>

    <section id="blog-head">

        <div class="header-intro">

            <div class="header-texts">
                <h1>Blog Posts</h1>
                <hr class="hr-5">
            </div>

        </div>

    </section>

    <div class="main-content">
        
        <div class="blog-links-container">
            <button class="blog-link-btn">
                <a class="blog-links" href="blogs">All</a>
            </button>

            <button class="blog-link-btn">
                <a class="blog-links" href="/tutorial">Tutorial</a>
            </button>

            <button class="blog-link-btn">
                <a class="blog-links" href="/personal">Personal</a>
            </button>

            <button class="blog-link-btn">
                <a class="blog-links" href="/travel">Travel</a>
            </button>
        </div>

        <div class="main-cards in-blog">
            <a href="#" class="cards">
                <div class="blog-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1583138605411-f85466f61638?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fHBob3RvZ3JhcGhlcnN8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <div class="head-card-text">
                            <div class="card-date">15 May, 2022</div>
                            <div class="blog-category tutorial">Tutorial</div>
                        </div>
                        <p class="card-description">How to get the perfect mountain shots for your gallery.</p>
                    </div>
                </div>
            </a>

            <a href="#" class="cards">
                <div class="blog-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1572028412480-0a75271c6bb9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8am9iJTIwaW50ZXJ2aWV3fGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <div class="head-card-text">
                            <div class="card-date"> 23 May, 2022</div>
                            <div class="blog-category personal">Personal</div>
                        </div>

                        <p class="card-description">How I make time in my schedule to freelance as a photographer
                            alongside a fulltime job.</p>
                    </div>
                </div>
            </a>

            <a href="#" class="cards">
                <div class="blog-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1589298360880-a0855eb871a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8YWlycG9ydHxlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <div class="head-card-text">
                            <div class="card-date">15 June, 2022</div>
                            <div class="blog-category travel">Travel</div>
                        </div>

                        <p class="card-description">Taking care of your equipment during a flight.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="main-cards in-blog">
            <a href="#" class="cards">
                <div class="blog-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1491947153227-33d59da6c448?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8a2V5Ym9hcmR8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <div class="head-card-text">
                            <div class="card-date">15 May, 2022</div>
                            <div class="blog-category tutorial">Tutorial</div>
                        </div>

                        <p class="card-description">How to edit photos using the latest Mac OS.</p>
                    </div>
                </div>
            </a>

            <a href="#" class="cards">
                <div class="blog-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1597489420377-e23d4a080346?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Z2FsbGVyeXxlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <div class="head-card-text">
                            <div class="card-date"> 23 May, 2022</div>
                            <div class="blog-category personal">Personal</div>
                        </div>

                        <p class="card-description">Best places to meet new people as a photographer.</p>
                    </div>
                </div>
            </a>

            <a href="#" class="cards">
                <div class="blog-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1566812192804-b33b53ccb207?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YWlycGxhbmUlMjBjbG91ZHN8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <div class="head-card-text">
                            <div class="card-date">15 June, 2022</div>
                            <div class="blog-category travel">Travel</div>
                        </div>

                        <p class="card-description">Best seats to get photos on an airplane.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="main-cards in-blog">
            <a href="#" class="cards">
                <div class="blog-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1613142289371-766e4f568cff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2FtZXJhJTIwbGVuc3xlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <div class="head-card-text">
                            <div class="card-date">15 May, 2022</div>
                            <div class="blog-category tutorial">Tutorial</div>
                        </div>

                        <p class="card-description">How to pick a lens for your photography needs.</p>
                    </div>
                </div>
            </a>

            <a href="#" class="cards">
                <div class="blog-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1509395731449-4f6efe781cf0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8cGVvcGxlJTIwbWVldGluZ3xlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <div class="head-card-text">
                            <div class="card-date"> 23 May, 2022</div>
                            <div class="blog-category personal">Personal</div>
                        </div>

                        <p class="card-description">How to maximize your income as a freelance photographer.</p>
                    </div>
                </div>
            </a>

            <a href="#" class="cards">
                <div class="blog-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1601226890749-5a59afd60b0b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Ym9zcGhvcnVzJTIwaXN0YW5idWx8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <div class="head-card-text">
                            <div class="card-date">15 June, 2022</div>
                            <div class="blog-category travel">Travel</div>
                        </div>

                        <p class="card-description">Most underrated cities for street photography.</p>
                    </div>
                </div>
            </a>
        </div>

    </div>