<% layout('layouts/boilerplate') %>

    <header id="collections-head" class="main-header">

        <div class="header-intro">

            <div class="header-texts">
                <h1>Collections</h1>
                <hr class="hr-5">
            </div>

        </div>

    </header>

    <main class="main-content">
        <h1 class="main-h1">MY COLLECTIONS</h1>

        <div class="main-cards">
            <a href="/nature" class="cards">
                <div class="main-left-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1473448912268-2022ce9509d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Zm9yZXN0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <h1 class="card-title nature">Nature</h1>

                        <p class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto
                            nemo, at est quo ea alias modi rem eveniet itaque, consequatur deleniti rerum provident
                            laborum dicta, repellat fuga similique accusantium quibusdam.</p>
                    </div>
                </div>
            </a>

            <a href="/sunsets" class="cards">
                <div class="main-right-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1498575637358-821023f27355?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fHN1bnNldHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <h1 class="card-title sunset">Sunsets</h1>

                        <p class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto
                            nemo, at est quo ea alias modi rem eveniet itaque, consequatur deleniti rerum provident
                            laborum dicta, repellat fuga similique accusantium quibusdam.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="main-cards">
            <a href="/beach" class="cards">
                <div class="main-left-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1473496169904-658ba7c44d8a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8c3VubnklMjBiZWFjaHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <h1 class="card-title beach">Beach</h1>

                        <p class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto
                            nemo, at est quo ea alias modi rem eveniet itaque, consequatur deleniti rerum provident
                            laborum dicta, repellat fuga similique accusantium quibusdam.</p>
                    </div>
                </div>
            </a>

            <a href="/clouds" class="cards">
                <div class="main-right-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHNreXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <h1 class="card-title clouds">Clouds</h1>

                        <p class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto
                            nemo, at est quo ea alias modi rem eveniet itaque, consequatur deleniti rerum provident
                            laborum dicta, repellat fuga similique accusantium quibusdam.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="main-cards">
            <a href="/night" class="cards">
                <div class="main-left-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1570371804372-112303e64157?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fG1vb24lMjBpbiUyMHRoZSUyMGNpdHl8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <h1 class="card-title night">Night Time</h1>

                        <p class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto
                            nemo, at est quo ea alias modi rem eveniet itaque, consequatur deleniti rerum provident
                            laborum dicta, repellat fuga similique accusantium quibusdam.</p>
                    </div>
                </div>
            </a>

            <a href="/food" class="cards">
                <div class="main-right-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1572448992068-26624d5cf341?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGJ1cmdlcnxlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <h1 class="card-title food">Food</h1>

                        <p class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto
                            nemo, at est quo ea alias modi rem eveniet itaque, consequatur deleniti rerum provident
                            laborum dicta, repellat fuga similique accusantium quibusdam.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="main-cards">
            <a href="/sunrise" class="cards">
                <div class="main-left-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1510784722466-f2aa9c52fff6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3VucmlzZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <h1 class="card-title sunrise">Sunrises</h1>

                        <p class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto
                            nemo, at est quo ea alias modi rem eveniet itaque, consequatur deleniti rerum provident
                            laborum dicta, repellat fuga similique accusantium quibusdam.</p>
                    </div>
                </div>
            </a>

            <a href="/street" class="cards">
                <div class="main-right-card">
                    <div class="card-top">
                        <img src="https://images.unsplash.com/photo-1449824913935-59a10b8d2000?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2l0eSUyMHN0cmVldHN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                            alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <h1 class="card-title street">Street</h1>

                        <p class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto
                            nemo, at est quo ea alias modi rem eveniet itaque, consequatur deleniti rerum provident
                            laborum dicta, repellat fuga similique accusantium quibusdam.</p>
                    </div>
                </div>
            </a>
        </div>

    </main>