<<<<<<< HEAD
<% layout('layouts/doublepages') %>

    <div class="main-double-display contact-display">

        <div class="contact-left">
            <div class="left-header contact-left-header">
                <h1 class="left-h1">Contact</h1>
                <div class="left-header-line"></div>
            </div>

            <div class="contact-info">
                <div>
                    087-Phone-Me
                    <br>
                    fakeemail@photo.com
                    <br>
                    Somewhere Rd, Some Big City, 2022
                </div>
            </div>
        </div>





        <div class="right-container">

            <div class="right-content contact-content">
                <div class="contact-form">
                    <form action="POST">
                        <label for="name">Name:</label>
                        <input type="text" placeholder="Your name" maxlength="256" id="name" class="input">

                        <label for="email">Email:</label>
                        <input type="email" placeholder="Email" maxlength="256" id="email" class="input">

                        <label for="message">Your Message:</label>
                        <textarea name="message" id="textarea" cols="30" rows="10" placeholder="Tell me about your project"></textarea>

                        <input type="submit" value="Send Message">
                    </form>
                </div>
            </div>

            <div class="contact-background-text">
                Contact
            </div>

        </div>

    </div>
=======
<% layout('layouts/doublepages') %>

    <div class="main-double-display contact-display">

        <div class="contact-left">
            <div class="left-header contact-left-header">
                <h1 class="left-h1">Contact</h1>
                <div class="left-header-line"></div>
            </div>

            <div class="contact-info">
                <div>
                    087-Phone-Me
                    <br>
                    fakeemail@photo.com
                    <br>
                    Somewhere Rd, Some Big City, 2022
                </div>
            </div>
        </div>





        <div class="right-container">

            <div class="right-content contact-content">
                <div class="contact-form">
                    <form action="POST">
                        <label for="name">Name:</label>
                        <input type="text" placeholder="Your name" maxlength="256" id="name" class="input">

                        <label for="email">Email:</label>
                        <input type="email" placeholder="Email" maxlength="256" id="email" class="input">

                        <label for="message">Your Message:</label>
                        <textarea name="message" id="textarea" cols="30" rows="10" placeholder="Tell me about your project"></textarea>

                        <input type="submit" value="Send Message">
                    </form>
                </div>
            </div>

            <div class="contact-background-text">
                Contact
            </div>

        </div>

    </div>
>>>>>>> 0e8ef018b7eab00ee04bea284553f01a7e96b057
