<% layout('layouts/boilerplate') %>

    <section id="gallery-head">

        <div class="header-intro">

            <div class="header-texts">
                <h1>Gallery</h1>
                <hr class="hr-5">
            </div>

        </div>

    </section>

    <!-- beach start -->

    <!-- beach end -->

    <!-- cloud start -->

    <!-- cloud end -->

    <!-- food start -->

    <!-- food end -->

    <!-- nature start -->

    <!-- nature end -->

    <!-- night start -->

    <!-- night end -->


    <!-- street start -->

    <!-- street end -->

    <!-- sunrirse start -->

    <!-- sunrise end -->

    <!-- sunset start -->

    <!-- sunset end -->