<% layout('layouts/boilerplate') %>

    <section id="gallery-head">

        <div class="header-intro">

            <div class="header-texts">
                <h1>Gallery</h1>
                <hr class="hr-5">
            </div>

        </div>

    </section>


    <div class="main-content">
        <div class="gallery-container">
            <div class="gallery-imgs-container">
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=873&q=80"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1515238152791-8216bfdf89a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8YmVhY2h8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1510414842594-a61c69b5ae57?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGJlYWNofGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1520454974749-611b7248ffdb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YmVhY2h8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
            </div>

            <div class="gallery-imgs-container">
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1559494007-9f5847c49d94?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8YmVhY2h8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1501426026826-31c667bdf23d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1506477331477-33d5d8b3dc85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
            </div>
        </div>
        <!-- beach end -->

        <div class="gallery-container">
            <div class="gallery-imgs-container">
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1560803262-95a9de00a057?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y2xvdWRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1463947628408-f8581a2f4aca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Y2xvdWRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1536244636800-a3f74db0f3cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGNsb3Vkc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1504608524841-42fe6f032b4b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGNsb3Vkc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
            </div>

            <div class="gallery-imgs-container">
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1518100304219-5df3ad98dd9b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2xvdWRzfGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1541424548036-7e628b710c59?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2xvdWRzfGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1518844826-a4f6afc7a7a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2xvdWRzJTIwZnJvbSUyMGFpcnBsYW5lfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1526733388716-17040d3ab772?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGNsb3VkcyUyMGZyb20lMjBhaXJwbGFuZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
            </div>
        </div>
        <!-- clouds end -->

        <div class="gallery-container">
            <div class="gallery-imgs-container">
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1631897788978-da06ec45adcb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGNoaWNrZW4lMjB3aW5nc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Zm9vZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGZvb2R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1540189549336-e6e99c3679fe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Zm9vZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
            </div>

            <div class="gallery-imgs-container">
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1518013431117-eb1465fa5752?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGZyaWVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1581927692308-be9e43b4d860?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8c29kYXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1625813506062-0aeb1d7a094b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YnVyZ2VyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1542574271-7f3b92e6c821?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGJ1cmdlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
            </div>
        </div>
        <!-- food end -->

        <div class="gallery-container">
            <div class="gallery-imgs-container">
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1465146344425-f00d5f5c8f07?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8bmF0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1433086966358-54859d0ed716?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fG5hdHVyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1518173946687-a4c8892bbd9f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fG5hdHVyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1472214103451-9374bd1c798e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fG5hdHVyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
            </div>

            <div class="gallery-imgs-container">
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1475113548554-5a36f1f523d6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fG5hdHVyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1439853949127-fa647821eba0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fG5hdHVyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1510784722466-f2aa9c52fff6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fG5hdHVyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1513836279014-a89f7a76ae86?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzZ8fG5hdHVyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
            </div>
        </div>
        <!-- nature end -->

        <div class="gallery-container">
            <div class="gallery-imgs-container">
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1530508777238-14544088c3ed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fG5pZ2h0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1489549132488-d00b7eee80f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fG5pZ2h0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1505771215590-c5fa0aec29b8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bmlnaHR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1523590564318-491748f70ea7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fG5pZ2h0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
            </div>

            <div class="gallery-imgs-container">
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1511553677255-ba939e5537e0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjV8fG5pZ2h0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1432847712612-926caafaa802?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fG5pZ2h0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1494122353634-c310f45a6d3c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fG5pZ2h0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1532207476751-d3ccf1a77019?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fG5pZ2h0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
            </div>
        </div>
        <!-- night end -->

        <div class="gallery-container">
            <div class="gallery-imgs-container">
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1502514276381-1ea51dfe201c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fG5pZ2h0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1531145997887-d13b61b64104?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bWFycmFrZXNoJTIwc3RyZWV0c3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1616953283578-4d001aaae44d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8amFwYW4lMjBzdHJlZXRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1495430288918-03be19c7c485?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bmlnaHR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
            </div>

            <div class="gallery-imgs-container">
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1589755617381-e8fe66db4b0e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2FwZSUyMHRvd24lMjBzdHJlZXRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1534800891164-a1d96b5114e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bG9uZG9uJTIwc3RyZWV0c3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1529635583856-b6fb2499bf92?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzZ8fG5pZ2h0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1513201025652-45a8a3f21311?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDV8fG5pZ2h0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
            </div>
        </div>
        <!-- street -->

        <div class="gallery-container">
            <div class="gallery-imgs-container">
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1510784722466-f2aa9c52fff6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3VucmlzZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1470252649378-9c29740c9fa8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c3VucmlzZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1500534623283-312aade485b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHN1bnJpc2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1531603845872-e4a07041f521?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHN1bnJpc2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
            </div>

            <div class="gallery-imgs-container">
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1541978675-b88a2953aef3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHN1bnJpc2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1470569584027-67bf7fa60807?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fHN1bnJpc2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1496631488200-c0b85f3044a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fHN1bnJpc2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1516571168827-259105cb8327?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fHN1bnJpc2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
            </div>
        </div>
        <!-- sunrises end -->

        <div class="gallery-container">
            <div class="gallery-imgs-container">
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1495616811223-4d98c6e9c869?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8c3Vuc2V0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1500245804862-0692ee1bbee8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fHN1bnNldHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1585089858717-f4378c2031d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHN1bnNldHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1495567720989-cebdbdd97913?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8c3Vuc2V0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
            </div>

            <div class="gallery-imgs-container">
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1625505826533-5c80aca7d157?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHN1bnNldCUyMGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="small-img">
                    <img src="https://images.unsplash.com/photo-1616036740257-9449ea1f6605?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3Vuc2V0JTIwYmVhY2h8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1563118849-3cdd781c80ee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bWFuaGF0dGFuaGVuZ2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
                <a href="#" class="large-img">
                    <img src="https://images.unsplash.com/photo-1610045058619-8c37e8913c55?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3Vuc2V0JTIwYmVhY2h8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="" class="gallery-img">
                </a>
            </div>
        </div>
        <!-- sunsets end -->

    </div>

    <!-- <div class="gallery-background-text">
                This is just an idea
                - Do this for each set of works and have the name faintly fixed in the background
            </div> -->
