<<<<<<< HEAD
<% layout('layouts/boilerplate') %>

    <section id="gallery-head">

        <div class="header-intro">

            <div class="header-texts">
                <h1>Gallery</h1>
                <hr class="hr-5">
            </div>

        </div>

    </section>

    <!-- beach start -->
    <div class="gallery-wrap">
        <div class="container gallery">

            <div class="flex row structure">

                <!-- This is the first row of images -->
                <div class="flex row structure-1">
                    <div class="flex element one">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1544536871-6e891baa163f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmVhY2glMjBiYWNrZ3JvdW5kfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <div class="flex element two">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1510414842594-a61c69b5ae57?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGJlYWNofGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                </div>

                <!-- This is a column of images next to the row of images -->
                <div class="flex col structure-1-2-1">
                    <div class="flex element three">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1520454974749-611b7248ffdb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YmVhY2h8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element four">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506477331477-33d5d8b3dc85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->

                    <!-- <div class="flex element five">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>

                <!-- This the 2nd row of images (you will find this below the first row at full screen width) -->
                <div class="flex row structure-2">
                    <div class="flex element six">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1510414842594-a61c69b5ae57?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGJlYWNofGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>
                </div>

                <!-- This the 2nd column of images (you will find this below the first column at full screen width) -->
                <div class="flex col structure-2-2">
                    <div class="flex element seven">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1515238152791-8216bfdf89a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8YmVhY2h8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element eight">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>
                <!-- End of all the images, the closing tag below is for the actual  -->
            </div>
            
        </div>
    </div>
    <!-- beach end -->

    <!-- cloud start -->
    <div class="gallery-wrap">
        <div class="container gallery">

            <div class="flex row structure">

                <!-- This is the first row of images -->
                <div class="flex row structure-1">
                    <div class="flex element one">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1513002749550-c59d786b8e6c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2xvdWRzfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <div class="flex element two">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1504608524841-42fe6f032b4b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y2xvdWRzfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                </div>

                <!-- This is a column of images next to the row of images -->
                <div class="flex col structure-1-2-1">
                    <div class="flex element three">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1514843295067-dc777a28a510?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8YWlycGxhbmUlMjBjbG91ZHN8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element four">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506477331477-33d5d8b3dc85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->

                    <!-- <div class="flex element five">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>

                <!-- This the 2nd row of images (you will find this below the first row at full screen width) -->
                <div class="flex row structure-2">
                    <div class="flex element six">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1541346406486-7a642e80c0a5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YWlycGxhbmUlMjBjbG91ZHN8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>
                </div>

                <!-- This the 2nd column of images (you will find this below the first column at full screen width) -->
                <div class="flex col structure-2-2">
                    <div class="flex element seven">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1541424548036-7e628b710c59?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8YWlycGxhbmUlMjBjbG91ZHN8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element eight">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>
                <!-- End of all the images, the closing tag below is for the actual  -->
            </div>
            
        </div>
    </div>
    <!-- cloud end -->

    <!-- food start -->
    <div class="gallery-wrap">
        <div class="container gallery">

            <div class="flex row structure">

                <!-- This is the first row of images -->
                <div class="flex row structure-1">
                    <div class="flex element one">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1615719413546-198b25453f85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Zm9vZCUyMGJhY2tncm91bmR8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <div class="flex element two">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1614145121029-83a9f7b68bf4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9vZCUyMGJhY2tncm91bmR8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                </div>

                <!-- This is a column of images next to the row of images -->
                <div class="flex col structure-1-2-1">
                    <div class="flex element three">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1611309454921-16cef3438ee0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Zm9vZCUyMGJhY2tncm91bmR8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element four">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506477331477-33d5d8b3dc85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->

                    <!-- <div class="flex element five">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>

                <!-- This the 2nd row of images (you will find this below the first row at full screen width) -->
                <div class="flex row structure-2">
                    <div class="flex element six">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1543353071-10c8ba85a904?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Zm9vZCUyMGJhY2tncm91bmR8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>
                </div>

                <!-- This the 2nd column of images (you will find this below the first column at full screen width) -->
                <div class="flex col structure-2-2">
                    <div class="flex element seven">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1616431575978-ad28681d658e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Zm9vZCUyMGJhY2tncm91bmR8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element eight">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>
                <!-- End of all the images, the closing tag below is for the actual  -->
            </div>
            
        </div>
    </div>
    <!-- food end -->

    <!-- nature start -->
    <div class="gallery-wrap">
        <div class="container gallery">

            <div class="flex row structure">

                <!-- This is the first row of images -->
                <div class="flex row structure-1">
                    <div class="flex element one">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1570641963303-92ce4845ed4c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bmF0dXJlJTIwYmFja2dyb3VuZHxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <div class="flex element two">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1623966584479-23598b09043c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8bmF0dXJlJTIwYmFja2dyb3VuZHxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                </div>

                <!-- This is a column of images next to the row of images -->
                <div class="flex col structure-1-2-1">
                    <div class="flex element three">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1596490618694-7fc600be7e9f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fG5hdHVyZSUyMGJhY2tncm91bmR8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element four">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506477331477-33d5d8b3dc85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->

                    <!-- <div class="flex element five">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>

                <!-- This the 2nd row of images (you will find this below the first row at full screen width) -->
                <div class="flex row structure-2">
                    <div class="flex element six">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1619441207978-3d326c46e2c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bmF0dXJlJTIwYmFja2dyb3VuZHxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>
                </div>

                <!-- This the 2nd column of images (you will find this below the first column at full screen width) -->
                <div class="flex col structure-2-2">
                    <div class="flex element seven">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1613580504360-61c97abb0f5e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bmF0dXJlJTIwYmFja2dyb3VuZHxlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element eight">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>
                <!-- End of all the images, the closing tag below is for the actual  -->
            </div>
            
        </div>
    </div>
    <!-- nature end -->

    <!-- night start -->
    <div class="gallery-wrap">
        <div class="container gallery">

            <div class="flex row structure">

                <!-- This is the first row of images -->
                <div class="flex row structure-1">
                    <div class="flex element one">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1623228676065-7d44db19768b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bmlnaHQlMjBiYWNrZ3JvdW5kfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <div class="flex element two">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1531819177115-428566ccfb50?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fG5pZ2h0JTIwYmFja2dyb3VuZHxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                </div>

                <!-- This is a column of images next to the row of images -->
                <div class="flex col structure-1-2-1">
                    <div class="flex element three">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1596627243362-85e5a0595463?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fG5pZ2h0JTIwYmFja2dyb3VuZHxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element four">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506477331477-33d5d8b3dc85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->

                    <!-- <div class="flex element five">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>

                <!-- This the 2nd row of images (you will find this below the first row at full screen width) -->
                <div class="flex row structure-2">
                    <div class="flex element six">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bmlnaHQlMjB0aW1lfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>
                </div>

                <!-- This the 2nd column of images (you will find this below the first column at full screen width) -->
                <div class="flex col structure-2-2">
                    <div class="flex element seven">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1525240920961-18349e9c049c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bmlnaHQlMjB0aW1lfGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element eight">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>
                <!-- End of all the images, the closing tag below is for the actual  -->
            </div>
            
        </div>
    </div>
    <!-- night end -->


    <!-- street start -->
    <div class="gallery-wrap">
        <div class="container gallery">

            <div class="flex row structure">

                <!-- This is the first row of images -->
                <div class="flex row structure-1">
                    <div class="flex element one">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1552570173-1e3d3eaf989c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fG5pZ2h0JTIwYmFja2dyb3VuZHxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <div class="flex element two">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1527571739941-852c0cc2764a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c3RyZWV0JTIwYmFja2dyb3VuZHxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                </div>

                <!-- This is a column of images next to the row of images -->
                <div class="flex col structure-1-2-1">
                    <div class="flex element three">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1610939686051-48a1967af69e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8c3RyZWV0JTIwYmFja2dyb3VuZHxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element four">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506477331477-33d5d8b3dc85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->

                    <!-- <div class="flex element five">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>

                <!-- This the 2nd row of images (you will find this below the first row at full screen width) -->
                <div class="flex row structure-2">
                    <div class="flex element six">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1533106497176-45ae19e68ba2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bmlnaHQlMjB0aW1lfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>
                </div>

                <!-- This the 2nd column of images (you will find this below the first column at full screen width) -->
                <div class="flex col structure-2-2">
                    <div class="flex element seven">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1520665680252-610662b7377a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHN0cmVldCUyMGJhY2tncm91bmR8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element eight">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>
                <!-- End of all the images, the closing tag below is for the actual  -->
            </div>
            
        </div>
    </div>
    <!-- street end -->

    <!-- sunrirse start -->
    <div class="gallery-wrap">
        <div class="container gallery">

            <div class="flex row structure">

                <!-- This is the first row of images -->
                <div class="flex row structure-1">
                    <div class="flex element one">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1574726252024-83b799196f99?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3VucmlzZSUyMGJhY2tncm91bmR8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <div class="flex element two">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1531603845872-e4a07041f521?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c3VucmlzZSUyMGJhY2tncm91bmR8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                </div>

                <!-- This is a column of images next to the row of images -->
                <div class="flex col structure-1-2-1">
                    <div class="flex element three">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1448842215777-02928daa9d5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fHN1bnJpc2UlMjBiYWNrZ3JvdW5kfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element four">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506477331477-33d5d8b3dc85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->

                    <!-- <div class="flex element five">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>

                <!-- This the 2nd row of images (you will find this below the first row at full screen width) -->
                <div class="flex row structure-2">
                    <div class="flex element six">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1503803548695-c2a7b4a5b875?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3VucmlzZSUyMGJhY2tncm91bmR8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>
                </div>

                <!-- This the 2nd column of images (you will find this below the first column at full screen width) -->
                <div class="flex col structure-2-2">
                    <div class="flex element seven">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1494548162494-384bba4ab999?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3VucmlzZSUyMGJhY2tncm91bmR8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element eight">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>
                <!-- End of all the images, the closing tag below is for the actual  -->
            </div>
            
        </div>
    </div>
    <!-- sunrise end -->

    <!-- sunset start -->
    <div class="gallery-wrap">
        <div class="container gallery">

            <div class="flex row structure">

                <!-- This is the first row of images -->
                <div class="flex row structure-1">
                    <div class="flex element one">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1614914135224-925593607248?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bmF0dXJlJTIwYmFja2dyb3VuZHxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <div class="flex element two">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1552953140-c6dbcbdc281e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHN1bnNldCUyMGJhY2tncm91bmR8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                </div>

                <!-- This is a column of images next to the row of images -->
                <div class="flex col structure-1-2-1">
                    <div class="flex element three">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1563118849-3cdd781c80ee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bWFuaGF0dGFuaGVuZ2V8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element four">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506477331477-33d5d8b3dc85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->

                    <!-- <div class="flex element five">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>

                <!-- This the 2nd row of images (you will find this below the first row at full screen width) -->
                <div class="flex row structure-2">
                    <div class="flex element six">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1593531944206-2195b2e49bd3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3Vuc2V0JTIwYmFja2dyb3VuZHxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>
                </div>

                <!-- This the 2nd column of images (you will find this below the first column at full screen width) -->
                <div class="flex col structure-2-2">
                    <div class="flex element seven">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1548344320-0c6fe631f8cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8c3Vuc2V0JTIwYmFja2dyb3VuZHxlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element eight">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>

            </div>
            
        </div>
    </div>
    <!-- sunset end -->
=======
<% layout('layouts/boilerplate') %>

    <section id="gallery-head">

        <div class="header-intro">

            <div class="header-texts">
                <h1>Gallery</h1>
                <hr class="hr-5">
            </div>

        </div>

    </section>

    <!-- beach start -->
    <div class="gallery-wrap">
        <div class="container gallery">

            <div class="flex row structure">

                <!-- This is the first row of images -->
                <div class="flex row structure-1">
                    <div class="flex element one">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1544536871-6e891baa163f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmVhY2glMjBiYWNrZ3JvdW5kfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <div class="flex element two">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1510414842594-a61c69b5ae57?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGJlYWNofGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                </div>

                <!-- This is a column of images next to the row of images -->
                <div class="flex col structure-1-2-1">
                    <div class="flex element three">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1520454974749-611b7248ffdb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YmVhY2h8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element four">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506477331477-33d5d8b3dc85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->

                    <!-- <div class="flex element five">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>

                <!-- This the 2nd row of images (you will find this below the first row at full screen width) -->
                <div class="flex row structure-2">
                    <div class="flex element six">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1510414842594-a61c69b5ae57?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGJlYWNofGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>
                </div>

                <!-- This the 2nd column of images (you will find this below the first column at full screen width) -->
                <div class="flex col structure-2-2">
                    <div class="flex element seven">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1515238152791-8216bfdf89a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8YmVhY2h8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element eight">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>
                <!-- End of all the images, the closing tag below is for the actual  -->
            </div>
            
        </div>
    </div>
    <!-- beach end -->

    <!-- cloud start -->
    <div class="gallery-wrap">
        <div class="container gallery">

            <div class="flex row structure">

                <!-- This is the first row of images -->
                <div class="flex row structure-1">
                    <div class="flex element one">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1513002749550-c59d786b8e6c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2xvdWRzfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <div class="flex element two">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1504608524841-42fe6f032b4b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y2xvdWRzfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                </div>

                <!-- This is a column of images next to the row of images -->
                <div class="flex col structure-1-2-1">
                    <div class="flex element three">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1514843295067-dc777a28a510?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8YWlycGxhbmUlMjBjbG91ZHN8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element four">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506477331477-33d5d8b3dc85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->

                    <!-- <div class="flex element five">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>

                <!-- This the 2nd row of images (you will find this below the first row at full screen width) -->
                <div class="flex row structure-2">
                    <div class="flex element six">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1541346406486-7a642e80c0a5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YWlycGxhbmUlMjBjbG91ZHN8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>
                </div>

                <!-- This the 2nd column of images (you will find this below the first column at full screen width) -->
                <div class="flex col structure-2-2">
                    <div class="flex element seven">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1541424548036-7e628b710c59?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8YWlycGxhbmUlMjBjbG91ZHN8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element eight">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>
                <!-- End of all the images, the closing tag below is for the actual  -->
            </div>
            
        </div>
    </div>
    <!-- cloud end -->

    <!-- food start -->
    <div class="gallery-wrap">
        <div class="container gallery">

            <div class="flex row structure">

                <!-- This is the first row of images -->
                <div class="flex row structure-1">
                    <div class="flex element one">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1615719413546-198b25453f85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Zm9vZCUyMGJhY2tncm91bmR8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <div class="flex element two">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1614145121029-83a9f7b68bf4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9vZCUyMGJhY2tncm91bmR8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                </div>

                <!-- This is a column of images next to the row of images -->
                <div class="flex col structure-1-2-1">
                    <div class="flex element three">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1611309454921-16cef3438ee0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Zm9vZCUyMGJhY2tncm91bmR8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element four">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506477331477-33d5d8b3dc85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->

                    <!-- <div class="flex element five">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>

                <!-- This the 2nd row of images (you will find this below the first row at full screen width) -->
                <div class="flex row structure-2">
                    <div class="flex element six">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1543353071-10c8ba85a904?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Zm9vZCUyMGJhY2tncm91bmR8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>
                </div>

                <!-- This the 2nd column of images (you will find this below the first column at full screen width) -->
                <div class="flex col structure-2-2">
                    <div class="flex element seven">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1616431575978-ad28681d658e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Zm9vZCUyMGJhY2tncm91bmR8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element eight">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>
                <!-- End of all the images, the closing tag below is for the actual  -->
            </div>
            
        </div>
    </div>
    <!-- food end -->

    <!-- nature start -->
    <div class="gallery-wrap">
        <div class="container gallery">

            <div class="flex row structure">

                <!-- This is the first row of images -->
                <div class="flex row structure-1">
                    <div class="flex element one">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1570641963303-92ce4845ed4c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bmF0dXJlJTIwYmFja2dyb3VuZHxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <div class="flex element two">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1623966584479-23598b09043c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8bmF0dXJlJTIwYmFja2dyb3VuZHxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                </div>

                <!-- This is a column of images next to the row of images -->
                <div class="flex col structure-1-2-1">
                    <div class="flex element three">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1596490618694-7fc600be7e9f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fG5hdHVyZSUyMGJhY2tncm91bmR8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element four">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506477331477-33d5d8b3dc85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->

                    <!-- <div class="flex element five">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>

                <!-- This the 2nd row of images (you will find this below the first row at full screen width) -->
                <div class="flex row structure-2">
                    <div class="flex element six">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1619441207978-3d326c46e2c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bmF0dXJlJTIwYmFja2dyb3VuZHxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>
                </div>

                <!-- This the 2nd column of images (you will find this below the first column at full screen width) -->
                <div class="flex col structure-2-2">
                    <div class="flex element seven">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1613580504360-61c97abb0f5e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bmF0dXJlJTIwYmFja2dyb3VuZHxlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element eight">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>
                <!-- End of all the images, the closing tag below is for the actual  -->
            </div>
            
        </div>
    </div>
    <!-- nature end -->

    <!-- night start -->
    <div class="gallery-wrap">
        <div class="container gallery">

            <div class="flex row structure">

                <!-- This is the first row of images -->
                <div class="flex row structure-1">
                    <div class="flex element one">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1623228676065-7d44db19768b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bmlnaHQlMjBiYWNrZ3JvdW5kfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <div class="flex element two">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1531819177115-428566ccfb50?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fG5pZ2h0JTIwYmFja2dyb3VuZHxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                </div>

                <!-- This is a column of images next to the row of images -->
                <div class="flex col structure-1-2-1">
                    <div class="flex element three">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1596627243362-85e5a0595463?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fG5pZ2h0JTIwYmFja2dyb3VuZHxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element four">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506477331477-33d5d8b3dc85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->

                    <!-- <div class="flex element five">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>

                <!-- This the 2nd row of images (you will find this below the first row at full screen width) -->
                <div class="flex row structure-2">
                    <div class="flex element six">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bmlnaHQlMjB0aW1lfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>
                </div>

                <!-- This the 2nd column of images (you will find this below the first column at full screen width) -->
                <div class="flex col structure-2-2">
                    <div class="flex element seven">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1525240920961-18349e9c049c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bmlnaHQlMjB0aW1lfGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element eight">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>
                <!-- End of all the images, the closing tag below is for the actual  -->
            </div>
            
        </div>
    </div>
    <!-- night end -->


    <!-- street start -->
    <div class="gallery-wrap">
        <div class="container gallery">

            <div class="flex row structure">

                <!-- This is the first row of images -->
                <div class="flex row structure-1">
                    <div class="flex element one">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1552570173-1e3d3eaf989c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fG5pZ2h0JTIwYmFja2dyb3VuZHxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <div class="flex element two">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1527571739941-852c0cc2764a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c3RyZWV0JTIwYmFja2dyb3VuZHxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                </div>

                <!-- This is a column of images next to the row of images -->
                <div class="flex col structure-1-2-1">
                    <div class="flex element three">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1610939686051-48a1967af69e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8c3RyZWV0JTIwYmFja2dyb3VuZHxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element four">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506477331477-33d5d8b3dc85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->

                    <!-- <div class="flex element five">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>

                <!-- This the 2nd row of images (you will find this below the first row at full screen width) -->
                <div class="flex row structure-2">
                    <div class="flex element six">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1533106497176-45ae19e68ba2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bmlnaHQlMjB0aW1lfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>
                </div>

                <!-- This the 2nd column of images (you will find this below the first column at full screen width) -->
                <div class="flex col structure-2-2">
                    <div class="flex element seven">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1520665680252-610662b7377a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHN0cmVldCUyMGJhY2tncm91bmR8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element eight">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>
                <!-- End of all the images, the closing tag below is for the actual  -->
            </div>
            
        </div>
    </div>
    <!-- street end -->

    <!-- sunrirse start -->
    <div class="gallery-wrap">
        <div class="container gallery">

            <div class="flex row structure">

                <!-- This is the first row of images -->
                <div class="flex row structure-1">
                    <div class="flex element one">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1574726252024-83b799196f99?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3VucmlzZSUyMGJhY2tncm91bmR8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <div class="flex element two">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1531603845872-e4a07041f521?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c3VucmlzZSUyMGJhY2tncm91bmR8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                </div>

                <!-- This is a column of images next to the row of images -->
                <div class="flex col structure-1-2-1">
                    <div class="flex element three">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1448842215777-02928daa9d5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fHN1bnJpc2UlMjBiYWNrZ3JvdW5kfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element four">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506477331477-33d5d8b3dc85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->

                    <!-- <div class="flex element five">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>

                <!-- This the 2nd row of images (you will find this below the first row at full screen width) -->
                <div class="flex row structure-2">
                    <div class="flex element six">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1503803548695-c2a7b4a5b875?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3VucmlzZSUyMGJhY2tncm91bmR8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>
                </div>

                <!-- This the 2nd column of images (you will find this below the first column at full screen width) -->
                <div class="flex col structure-2-2">
                    <div class="flex element seven">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1494548162494-384bba4ab999?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3VucmlzZSUyMGJhY2tncm91bmR8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element eight">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>
                <!-- End of all the images, the closing tag below is for the actual  -->
            </div>
            
        </div>
    </div>
    <!-- sunrise end -->

    <!-- sunset start -->
    <div class="gallery-wrap">
        <div class="container gallery">

            <div class="flex row structure">

                <!-- This is the first row of images -->
                <div class="flex row structure-1">
                    <div class="flex element one">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1614914135224-925593607248?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bmF0dXJlJTIwYmFja2dyb3VuZHxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <div class="flex element two">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1552953140-c6dbcbdc281e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHN1bnNldCUyMGJhY2tncm91bmR8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                </div>

                <!-- This is a column of images next to the row of images -->
                <div class="flex col structure-1-2-1">
                    <div class="flex element three">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1563118849-3cdd781c80ee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bWFuaGF0dGFuaGVuZ2V8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element four">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506477331477-33d5d8b3dc85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->

                    <!-- <div class="flex element five">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>

                <!-- This the 2nd row of images (you will find this below the first row at full screen width) -->
                <div class="flex row structure-2">
                    <div class="flex element six">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1593531944206-2195b2e49bd3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3Vuc2V0JTIwYmFja2dyb3VuZHxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>
                </div>

                <!-- This the 2nd column of images (you will find this below the first column at full screen width) -->
                <div class="flex col structure-2-2">
                    <div class="flex element seven">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1548344320-0c6fe631f8cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8c3Vuc2V0JTIwYmFja2dyb3VuZHxlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div>

                    <!-- <div class="flex element eight">
                        <div class="content">
                            <img src="https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJlYWNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        alt="">
                        </div>
                    </div> -->
                </div>

            </div>
            
        </div>
    </div>
    <!-- sunset end -->
>>>>>>> 0e8ef018b7eab00ee04bea284553f01a7e96b057
