<% layout('layouts/boilerplate') %>

    <section id="gallery-head">

        <div class="header-intro">

            <div class="header-texts">
                <h1>Gallery</h1>
                <hr class="hr-5">
            </div>

        </div>

    </section>

    <div class="container">
        <!-- beach start -->
        <div class="collection1">
            <img class="top-left" src="" alt="">
            <img class="top-right" src="" alt="">
            <img class="across" src="" alt="">
        </div>

        <div class="collection2">
            <img class="across" src="" alt="">
            <img class="bottom-left" src="" alt="">
            <img class="bottom-right" src="" alt="">
        </div>

        <div class="collection3">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <!-- beach end -->





        <!-- cloud start -->
        <div class="collection1">
            <img class="top-left" src="" alt="">
            <img class="top-right" src="" alt="">
            <img class="across" src="" alt="">
        </div>

        <div class="collection2">
            <img class="across" src="" alt="">
            <img class="bottom-left" src="" alt="">
            <img class="bottom-right" src="" alt="">
        </div>

        <div class="collection3">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <!-- cloud end -->





        <!-- food start -->
        <div class="collection1">
            <img class="top-left" src="" alt="">
            <img class="top-right" src="" alt="">
            <img class="across" src="" alt="">
        </div>

        <div class="collection2">
            <img class="across" src="" alt="">
            <img class="bottom-left" src="" alt="">
            <img class="bottom-right" src="" alt="">
        </div>

        <div class="collection3">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <!-- food end -->





        <!-- nature start -->
        <div class="collection1">
            <img class="top-left" src="" alt="">
            <img class="top-right" src="" alt="">
            <img class="across" src="" alt="">
        </div>

        <div class="collection2">
            <img class="across" src="" alt="">
            <img class="bottom-left" src="" alt="">
            <img class="bottom-right" src="" alt="">
        </div>

        <div class="collection3">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <!-- nature end -->





        <!-- night start -->
        <div class="collection1">
            <img class="top-left" src="" alt="">
            <img class="top-right" src="" alt="">
            <img class="across" src="" alt="">
        </div>

        <div class="collection2">
            <img class="across" src="" alt="">
            <img class="bottom-left" src="" alt="">
            <img class="bottom-right" src="" alt="">
        </div>

        <div class="collection3">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <!-- night end -->





        <!-- street start -->
        <div class="collection1">
            <img class="top-left" src="" alt="">
            <img class="top-right" src="" alt="">
            <img class="across" src="" alt="">
        </div>

        <div class="collection2">
            <img class="across" src="" alt="">
            <img class="bottom-left" src="" alt="">
            <img class="bottom-right" src="" alt="">
        </div>

        <div class="collection3">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <!-- street end -->





        <!-- sunrirse start -->
        <div class="collection1">
            <img class="top-left" src="" alt="">
            <img class="top-right" src="" alt="">
            <img class="across" src="" alt="">
        </div>

        <div class="collection2">
            <img class="across" src="" alt="">
            <img class="bottom-left" src="" alt="">
            <img class="bottom-right" src="" alt="">
        </div>

        <div class="collection3">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <!-- sunrise end -->





        <!-- sunset start -->
        <div class="collection1">
            <img class="top-left" src="" alt="">
            <img class="top-right" src="" alt="">
            <img class="across" src="" alt="">
        </div>

        <div class="collection2">
            <img class="across" src="" alt="">
            <img class="bottom-left" src="" alt="">
            <img class="bottom-right" src="" alt="">
        </div>

        <div class="collection3">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <!-- sunset end -->
    </div>