<% layout('layouts/sidepages') %>

    <div class="main-double-display services-display">

        <div class="services-left">
            <div class="left-header">
                <h1 class="left-h1">Services</h1>
                <div class="left-header-line"></div>
            </div>
        </div>





        <div class="about-right-container">
            <div class="about-right-content about-content">


                <div class="services">
                    <div class="services-top-line"></div>

                    <div class="services-icons">
                        <i class="fa-solid fa-camera"></i>
                    </div>
                    <h2 class="services-h2">Outdoor Photography</h2>
                    <div class="services-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus
                        mollitia corporis assumenda error iste est. Ut placeat eaque ex laudantium asperiores aliquam
                        debitis vero dolor, hic illo dolores porro eos.</div>
                </div>

                <div class="services">
                    <div class="services-top-line"></div>

                    <div class="services-icons">
                        <i class="fa-solid fa-film"></i>
                    </div>
                    <h2 class="services-h2">Videography</h2>
                    <div class="services-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus
                        mollitia corporis assumenda error iste est. Ut placeat eaque ex laudantium asperiores aliquam
                        debitis vero dolor, hic illo dolores porro eos.</div>
                </div>

                <div class="services">
                    <div class="services-top-line"></div>

                    <div class="services-icons">
                        <i class="fa-solid fa-photo-film"></i>
                    </div>
                    <h2 class="services-h2">Video and Photo Editing</h2>
                    <div class="services-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus
                        mollitia corporis assumenda error iste est. Ut placeat eaque ex laudantium asperiores aliquam
                        debitis vero dolor, hic illo dolores porro eos.</div>
                </div>

                <div class="services">
                    <div class="services-top-line"></div>

                    <div class="services-icons">
                        <i class="fa-solid fa-graduation-cap"></i>
                    </div>
                    <h2 class="services-h2">Photography Lessons</h2>
                    <div class="services-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus
                        mollitia corporis assumenda error iste est. Ut placeat eaque ex laudantium asperiores aliquam
                        debitis vero dolor, hic illo dolores porro eos.</div>
                </div>

            </div>

            <div class="services-background-text">
                Services
            </div>
        </div>


    </div>